.services{
    display: flex;
    padding: 1.5em 4em;  
    flex-direction: column;
    align-items: start;    
}
.services p {
    color:black;
}
.headerServices{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.headerServices h1{
    background-color: rgb(37, 37, 37);
    color: rgb(255, 181, 44);
    padding: .4rem;
}
.handleServiceArea{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.handleServiceArea section:first-child{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: .6rem 0rem;
}
.addServiceHeader{
    display: flex;
    justify-content: space-between;    
   
}
.addServices{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2rem 0rem;
}


.services form{
    display: none;
    padding-top: 1rem;
}
.services form button{
    width: 15%;
}
.listServices{
    /* sadfasdfasd */
}

