.projects{
    width: 280px; 
    height: 280px;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    border: 2px solid rgb(184, 184, 184);
    border-radius: 4px;
    padding: 1.5rem .8rem;    
}

.projects div:first-child{
    display: flex;

    flex-direction: column;
    gap: 1rem;
}

.projects h1{
    background-color: rgb(37, 37, 37);
    color: rgb(255, 181, 44);
    padding: .4rem;
    font-size: 30px;
}

/* START configuração da bolinha do lado de category */
.projects p:nth-child(3){
    display: flex;
    align-items: center;
    gap: .4rem;
}
.bolinhaProjeto{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;

    /*
    #ffaebc
    #a0e7e5
    #b4f8c8
    #fbe7c6
     */
}

 .desenvolvimento{
    background-color: #a0e7e5;
}

 .infra{
    background-color: #ffaebc;
}

 .planejamento{
    background-color: #b4f8c8;
}

 .designe{
    background-color: #fbe7c6;
}




/* END configuração da bolinha do lado de category */

.divButtons{
    display: flex;
    
    align-items: end;
    gap: .8rem;

}

.divButtons button{
    padding: .4rem;
    display: flex;
    gap: .4rem;
    border: 1px solid black;
    cursor: pointer;

}

.divButtons button:hover{

    background-color: rgb(37, 37, 37) ;
    color: rgb(255, 181, 44);
    transition: .4s;
}