.allProjects {
    display: flex;
    padding: 1.5em 4em;   
}

.headerallProjects{
 display: flex;
 width: 100%;
 justify-content: space-between;
 margin-bottom: 2rem;
}

/* ---------------------- CONFIGURAÇÃO DAS CAIXAS COM OS PROJETOS DENTRO -------------------------------*/



