.container{
    padding: 1.5rem 0rem;
    margin: 0 auto;
    min-height: 75%;
    background-color: rgb(225, 225, 225);
    
}

.container article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.container p{
    color: grey;
}